/*
.wp-block-custom-block-helper-faq-item {
	border: 1px dotted #a33;
	padding: 10px;
	background-color: #eee;
	border-radius: 5px;

	.block-editor-inner-blocks {
		border: 1px dotted #a33;
		padding: 10px;
		background-color: #eee;
		border-radius: 5px;
	}

}
*/
.wp-block-custom-block-helper-faq-item {
	.accordion_title {
		font-weight: bold;
		font-size: 120%;
	}
}