/*
.wp-block-custom-block-helper-button {
	padding: 10px;
	margin: 0px;
	border: 1px solid #ccc;
	text-align: center;
	border-radius: 10px;
	background-color: #eee;
	display: inline-block;
}
*/
.wp-block-custom-block-helper-button {
	margin-top: 0;
	margin-bottom: 0;
	.block-editor-rich-text__editable {
		display: inline-block;
	}
}

.block-editor-link-control__search-results {
	position: absolute;
	background: #fff;
	border: 1px solid #ccc;
	margin-top: 0px;

	.block-editor-link-control__search-item {
		height: auto;
		line-height: initial;
		padding: 5px;
	}
}
.block-editor-link-control__search-item.is-current {
	padding: 5px;
}
.block-editor-link-control__field {
	margin: 2px !important;
}
.block-editor-link-control__search-input-wrapper {
	margin-bottom: 0px;
}