/*
.wp-block-custom-block-grid-section {
	border: 1px dotted rgba(0, 0, 0, 0);
	padding: 5px 0;
	border-radius: 5px;
	background-color: #f9f9f9;
	&:hover {
		border: 1px dotted #ccc;
		&:after {
			content: "section";
			position: absolute;
			top: 0;
			right: 0;
			font-size: 10px;
			padding: 4px 5px;
			color: #ccc;
		}
	}
}
	*/

.wp-block-custom-block-grid-section {
	margin-bottom: 0;
	margin-top: 0;
	max-width: none;
}